<launch>

  <!-- gazebo args -->
  <arg name="gazebo_gui"    default="false" />
  <arg name="rviz"          default="true" />
  <arg name="world"         default="$(find intel_aero_gazebo)/worlds/terrain.world" />
  <arg name="verbose"       default="false" />
  <arg name="paused"        default="false" />
  <arg name="gazebo_debug"  default="false" />

  <!-- robot args -->
  <arg name="static_map"         default="true"/>
  <arg name="static_map_file"    if="$(arg static_map)"     default="$(find intel_aero_gazebo)/maps/terrain_no_ground.bt"/>
  <arg name="static_map_topic"   if="$(arg static_map)"     value="/projected_map"/>
  <arg name="static_map_topic"   unless="$(arg static_map)" value="projected_map"/>
  <arg name="world_frame"        default="world"/>
  <arg name="robot_radius"       default="1.0"/>
  <arg name="inflation_radius"   default="1.0"/>
  <arg name="octomap_resolution" default="0.5"/>

  <!-- robot 1 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="1" />
    <arg name="x"                  value="63" />
    <arg name="y"                  value="-5" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14561" />
    <arg name="fcu_url"            value="udp://:14541@localhost:14551" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

  <!-- robot 2 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="2" />
    <arg name="x"                  value="35" />
    <arg name="y"                  value="0" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14661" />
    <arg name="fcu_url"            value="udp://:14641@localhost:14651" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

  <!-- robot 3 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="3" />
    <arg name="x"                  value="35" />
    <arg name="y"                  value="-15" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14761" />
    <arg name="fcu_url"            value="udp://:14741@localhost:14751" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

  <!-- robot 4 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="4" />
    <arg name="x"                  value="55" />
    <arg name="y"                  value="15" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14861" />
    <arg name="fcu_url"            value="udp://:14841@localhost:14851" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

  <!-- robot 5 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="5" />
    <arg name="x"                  value="75" />
    <arg name="y"                  value="30" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14961" />
    <arg name="fcu_url"            value="udp://:14941@localhost:14951" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

  <!-- robot 6
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="6" />
    <arg name="x"                  value="0" />
    <arg name="y"                  value="4" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="150" />
    <arg name="fcu_url"            value="udp://:15041@localhost:15051" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>
 -->
  <!-- robot 7
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="7" />
    <arg name="x"                  value="0" />
    <arg name="y"                  value="4" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="15161" />
    <arg name="fcu_url"            value="udp://:15141@localhost:15151" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>
 -->
</launch>
