<launch>

  <!-- px4 or no px4 -->
  <arg name="spawn_only"    default="true"/>

  <!-- simulation args -->
  <arg name="gazebo_gui"    default="false" />
  <arg name="rviz"          default="true" />

  <!-- robot args -->
  <arg name="static_map"         default="true"/>
  <arg name="static_map_file"    if="$(arg static_map)"     default="$(find intel_aero_gazebo)/maps/terrain_no_ground.bt"/>
  <arg name="static_map_topic"   if="$(arg static_map)"     value="/projected_map"/>
  <arg name="static_map_topic"   unless="$(arg static_map)" value="projected_map"/>
  <arg name="world_frame"        default="world"/>
  <arg name="robot_radius"       default="1.0"/>
  <arg name="inflation_radius"   default="1.0"/>
  <arg name="octomap_resolution" default="0.5"/>

  <!-- gazebo and rviz -->
  <include file="$(find intel_aero_gazebo)/launch/simulation.launch">
    <arg name="gazebo_gui"       value="$(arg gazebo_gui)"/>
    <arg name="world"            value="$(find intel_aero_gazebo)/worlds/terrain.world"/>
    <arg name="rviz"             value="$(arg rviz)"/>
    <arg name="rviz_config_file" value="$(find intel_aero_gazebo)/rviz/example.rviz"/>
  </include>

  <!-- if enabled, load saved octomap -->
  <node if="$(arg static_map)"
        pkg="octomap_server"
        type="octomap_server_node"
        name="static_map_node"
        args="$(arg static_map_file)">
    <remap from="projected_map" to="$(arg static_map_topic)"/>
    <param name="frame_id" value="$(arg world_frame)"/>
  </node>

  <arg name="intel_aero_launch_file" if="$(arg spawn_only)"     value="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch"/>
  <arg name="intel_aero_launch_file" unless="$(arg spawn_only)" value="$(find intel_aero_gazebo)/launch/intel_aero.launch"/>

  <!-- aero 1 -->
  <group>
    <arg name="id" value="1"/>
    <include file="$(arg intel_aero_launch_file)" >
      <arg name="id"                 value="$(arg id)" />
      <arg name="x"                  value="0" />
      <arg name="y"                  value="0" />
      <arg name="z"                  value="0" />
      <arg name="mavlink_udp_port"   value="14561" />
      <arg name="mavlink_tcp_port"   value="4561" />
      <arg name="fcu_url"            value="udp://:14541@localhost:14581" />
      <arg name="target_system_id"   value="$(eval 1 + arg('id'))" />
      <arg name="position_tol"       value="0.2"/>
      <arg name="heading_tol"        value="0.2"/>
    </include>
  </group>

  <!-- aero 2
  <group>
    <arg name="id" value="2"/>
    <include file="$(arg intel_aero_launch_file)" >
      <arg name="id"                 value="$(arg id)" />
      <arg name="x"                  value="1" />
      <arg name="y"                  value="0" />
      <arg name="z"                  value="0" />
      <arg name="mavlink_udp_port"   value="14562" />
      <arg name="mavlink_tcp_port"   value="4562" />
      <arg name="fcu_url"            value="udp://:14542@localhost:14582" />
      <arg name="target_system_id"   value="$(eval 1 + arg('id'))" />
    </include>
  </group>
 -->
  <!-- aero 3
  <group>
    <arg name="id" value="3"/>
    <include file="$(arg intel_aero_launch_file)" >
      <arg name="id"                 value="$(arg id)" />
      <arg name="x"                  value="1" />
      <arg name="y"                  value="1" />
      <arg name="z"                  value="0" />
      <arg name="mavlink_udp_port"   value="14563" />
      <arg name="mavlink_tcp_port"   value="4563" />
      <arg name="fcu_url"            value="udp://:14543@localhost:14583" />
      <arg name="target_system_id"   value="4" />
    </include>
  </group>
 -->
</launch>
