<launch>

  <arg name="id"                 default="1" />
  <arg name="robot_ns"           value="aero$(arg id)" />

  <!-- topics / frames args -->
  <arg name="static_map"         default="false"/> <!-- true: a static map will be provided -->
  <arg name="static_map_topic"   default="projected_map"/>
  <arg name="world_frame"        default="world"/>
  <arg name="odom_frame"         default="$(arg robot_ns)/odom"/>
  <arg name="base_frame"         default="$(arg robot_ns)/base_link"/>

  <!-- waypoint navigation args -->
  <arg name="position_tol" 	 default="0.5"/> <!-- meters -->
  <arg name="heading_tol"  	 default="0.5"/> <!-- ~28deg -->
  <arg name="gdb"            default="false"/> <!-- run navigation node in gdb -->

  <!-- mapping / costmap args -->
  <arg name="robot_radius"       default="1.0"/>
  <arg name="inflation_radius"   default="1.0"/>
  <arg name="octomap_resolution" default="0.1"/>
  <arg name="costmap_rate"  if="$(arg static_map)"     value="0.1"/>
  <arg name="costmap_rate"  unless="$(arg static_map)" value="2.0"/>
  <arg name="costmap_frame" if="$(arg static_map)"     value="$(arg world_frame)"/>
  <arg name="costmap_frame" unless="$(arg static_map)" value="$(arg odom_frame)"/>

  <!-- global reference datum args -->
  <arg name="datum_lat"  default="39.9413339"/>
  <arg name="datum_lon"  default="-75.1986924"/>
  <arg name="datum_yaw"  default="0.0"/>

  <!-- spawn model args -->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="R" default="0" />
  <arg name="P" default="0" />
  <arg name="Y" default="0" />

  <!-- SITL args -->
  <arg name="mavlink_udp_port" value="1456$(arg id)"/>
  <arg name="mavlink_tcp_port" value="456$(arg id)"/>
  <arg name="fcu_url"          value="udp://:1454$(arg id)@localhost:1458$(arg id)"/>
  <arg name="interactive"      value="false"/>
  <arg name="target_system_id" value="$(eval 1 + arg('id'))"/>

  <group ns="$(arg robot_ns)" >

    <!-- load intel aero urdf to param -->
    <param name="rotors_description"
           command="$(find xacro)/xacro $(find px4)/Tools/sitl_gazebo/models/rotors_description/urdf/iris_base.xacro
                    rotors_description_dir:=$(find px4)/Tools/sitl_gazebo/models/rotors_description
                    mavlink_udp_port:=$(arg mavlink_udp_port)
                    mavlink_tcp_port:=$(arg mavlink_tcp_port)"/>

    <!-- spawn Intel Aero model in gazebo -->
    <node name="spawn_model"
          output="screen"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-urdf -param rotors_description -model $(arg robot_ns)
                -package_to_model -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

    <!-- PX4 SITL -->
    <env name="PX4_SIM_MODEL" value="iris" />
    <env name="PX4_ESTIMATOR" value="ekf2" />
    <arg unless="$(arg interactive)"  name="px4_cmd_arg" value="-d"/>
    <arg if="$(arg interactive)"      name="px4_cmd_arg" value=""/>
    <node name="sitl_$(arg id)"
          pkg="px4"
          type="px4"
          output="screen"
          args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS
                -i $(arg id) -w sitl_iris_$(arg id) $(arg px4_cmd_arg)"/>

    <!-- MAVROS -->
    <node pkg="mavros"
          type="mavros_node"
          name="mavros"
          clear_params="true"
          respawn="false">
      <param name="fcu_url" value="$(arg fcu_url)" />
      <param name="gcs_url" value=""/>
      <param name="target_system_id" value="$(arg target_system_id)" />
      <param name="target_component_id" value="1" />
      <param name="fcu_protocol" value="v2.0"/>
      <rosparam command="load" file="$(find mavros)/launch/px4_config.yaml" />
      <rosparam command="load" file="$(find intel_aero_gazebo)/cfg/px4_pluginlists.yaml" />
      <param name="local_position/frame_id"          value="$(arg odom_frame)"/>
      <param name="local_position/tf/send"           value="true"/>
      <param name="local_position/tf/frame_id"       value="$(arg odom_frame)"/>
      <param name="local_position/tf/child_frame_id" value="$(arg base_frame)" />
      <param name="imu/frame_id"                     value="$(arg base_frame)"/>
    </node>

    <!-- load MAVROS parameters
    <node pkg="mavros"
          type="mavparam"
          name="$(arg robot_ns)_px4_param_loader"
          output="screen"
          args="-v -n $(arg robot_ns)/mavros
                load -mp $(find intel_aero_experiments)/cfg/px4_params.txt"/>
 -->
    <!-- transformation between robot and datum published as a pose message and
         populated in the TF tree -->
    <node pkg="intel_aero_navigation"
          type="gps_tf_node"
          name="gps_tf_node"
          output="screen">
      <param name="base_frame"  value="$(arg base_frame)"/>
      <param name="odom_frame"  value="$(arg odom_frame)" />
      <param name="world_frame" value="$(arg world_frame)"/>
      <param name="yaw_offset"  value="0.0"/>
      <param name="debug"       value="false"/>
      <param name="datum_lat"   value="$(arg datum_lat)"/>
      <param name="datum_lon"   value="$(arg datum_lon)"/>
      <param name="datum_yaw"   value="$(arg datum_yaw)"/>
      <remap from="gps" to="mavros/global_position/global"/>
      <remap from="imu" to="mavros/imu/data"/>
    </node>

    <!-- navigation nodes -->

    <node pkg="nodelet"
          type="nodelet"
          name="px4_waypoint_navigation_nodelet"
          args="standalone intel_aero_navigation/PX4NavNodelet"
          unless="$(arg gdb)"
          output="screen">
      <param name="local_frame"   value="$(arg odom_frame)"/>
      <param name="position_tol"  value="$(arg position_tol)" />
      <param name="heading_tol"   value="$(arg heading_tol)" />
    </node>

    <node pkg="intel_aero_navigation"
          type="px4_nav_node"
          name="px4_waypoint_navigation_node"
          if="$(arg gdb)"
          launch-prefix="gdb --args"
          output="screen">
      <param name="local_frame"   value="$(arg odom_frame)"/>
      <param name="position_tol"  value="$(arg position_tol)" />
      <param name="heading_tol"   value="$(arg heading_tol)" />
    </node>

  </group>

</launch>
