<launch>

  <arg name="static_map_topic"/>
  <arg name="world_frame"/>

  <node pkg="link_pathloss"
        type="communication_pathloss"
        name="communication_pathloss"
        output="screen">
    <remap from="map" to="$(arg static_map_topic)"/>
   <param name="world_frame"      value="$(arg world_frame)"/>
  </node>  

</launch>
