<launch>

  <!-- gazebo args -->
  <arg name="gazebo_gui"   default="false"/>
  <arg name="world"        default="$(find intel_aero_gazebo)/worlds/spawc.world"/>
  <arg name="verbose"      default="false"/>
  <arg name="paused"       default="false"/>
  <arg name="gazebo_debug" default="false"/>

  <!-- rviz args -->
  <arg name="rviz"             default="true"/>
  <arg name="rviz_config_file" default="$(find intel_aero_gazebo/rviz/example.rviz"/>

  <!-- launch gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui"        value="$(arg gazebo_gui)"/>
    <arg name="world_name" value="$(arg world)"/>
    <arg name="verbose"    value="$(arg verbose)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="debug"      value="$(arg gazebo_debug)"/>
  </include>

  <!-- rviz -->
  <node if="$(arg rviz)"
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(arg rviz_config_file)"/>

</launch>
