<launch>

  <!-- gazebo args -->
  <arg name="gazebo_gui"    default="false" />
  <arg name="rviz"          default="true" />
  <arg name="world"         default="$(find intel_aero_gazebo)/worlds/terrain.world" />
  <arg name="verbose"       default="false" />
  <arg name="paused"        default="false" />
  <arg name="gazebo_debug"  default="false" />

  <!-- robot args -->
  <arg name="static_map"         default="false"/>
  <arg name="static_map_file"    if="$(arg static_map)"     default="$(find intel_aero_gazebo)/maps/terrain_no_ground.bt"/>
  <arg name="static_map_topic"   if="$(arg static_map)"     value="/projected_map"/>
  <arg name="static_map_topic"   unless="$(arg static_map)" value="projected_map"/>
  <arg name="world_frame"        default="world"/>
  <arg name="robot_radius"       default="1.0"/>
  <arg name="inflation_radius"   default="1.0"/>
  <arg name="octomap_resolution" default="0.5"/>

  <!-- launch gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui"         value="$(arg gazebo_gui)" />
    <arg name="world_name"  value="$(arg world)" />
    <arg name="verbose"     value="$(arg verbose)" />
    <arg name="paused"      value="$(arg paused)" />
    <arg name="debug"       value="$(arg gazebo_debug)" />
  </include>

  <!-- if enabled, load saved octomap -->
  <node if="$(arg static_map)"
        pkg="octomap_server"
        type="octomap_server_node"
        name="static_map_node"
        args="$(arg static_map_file)">
    <remap from="projected_map" to="$(arg static_map_topic)"/>
    <param name="frame_id" value="$(arg world_frame)"/>
  </node>

  <!-- image and camera vizualization -->
  <node if="$(arg rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find intel_aero_gazebo)/rviz/swarm3.rviz"/>

  <!-- robot 1 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="1" />
    <arg name="x"                  value="0" />
    <arg name="y"                  value="0" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14561" />
    <arg name="fcu_url"            value="udp://:14541@localhost:14551" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

  <!-- robot 2 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="2" />
    <arg name="x"                  value="0" />
    <arg name="y"                  value="2" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14661" />
    <arg name="fcu_url"            value="udp://:14641@localhost:14651" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

  <!-- robot 3 -->
  <include file="$(find intel_aero_gazebo)/launch/intel_aero.launch" >
    <arg name="id"                 value="3" />
    <arg name="x"                  value="0" />
    <arg name="y"                  value="4" />
    <arg name="z"                  value="0" />
    <arg name="mavlink_udp_port"   value="14761" />
    <arg name="fcu_url"            value="udp://:14741@localhost:14751" />
    <arg name="robot_radius"       value="$(arg robot_radius)"/>
    <arg name="inflation_radius"   value="$(arg inflation_radius)"/>
    <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
    <arg name="static_map"         value="$(arg static_map)"/>
    <arg name="static_map_topic"   value="$(arg static_map_topic)"/>
    <arg name="world_frame"        value="$(arg world_frame)"/>
  </include>

</launch>
