<?xml version="1.0" ?>

<robot name="intel_aero" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name='namespace' default='' />

  <!-- iris_base -->
  <xacro:include filename="$(find intel_aero_description)/urdf/iris_base.xacro" />

  <!-- realsense r200 macro -->
  <xacro:include filename="$(find intel_aero_description)/urdf/r200.macro.xacro" />

  <!-- create instance of r200 and attach it to the iris -->
  <xacro:realsense_r200 namespace="$(arg namespace)" parent_link="base_link" />

</robot>
