<library path="lib/libpx4_nav_nodelet">
    <class name="intel_aero_navigation/PX4NavNodelet" type="intel_aero_navigation::PX4NavNodelet" base_class_type="nodelet::Nodelet">
        <description>
            A nodelet for doing 2D waypoint navigation with the px4 flight stack
        </description>
    </class>
</library>
<library path="lib/libgazebo_vel_nav_nodelet">
    <class name="intel_aero_navigation/GazeboVelNavNodelet" type="intel_aero_navigation::GazeboVelNavNodelet" base_class_type="nodelet::Nodelet">
        <description>
            A nodelet for doing 2D waypoint navigation with velocity control in gazebo
        </description>
    </class>
</library>
<library path="lib/libvel_nav_nodelet">
    <class name="intel_aero_navigation/VelNavNodelet" type="intel_aero_navigation::VelNavNodelet" base_class_type="nodelet::Nodelet">
        <description>
            A nodelet for doing 2D waypoint navigation with velocity control
        </description>
    </class>
</library>
