<launch>

  <!-- simulation args -->
  <arg name="gazebo_gui"  default="false" />
  <arg name="rviz"        default="true" />
  <arg name="network_viz" default="true"/>

  <!-- patrol demo args -->
  <arg name="task_agent_velocity"    default="1.0"/>  <!-- m/s -->
  <arg name="network_agent_velocity" default="2.0"/>  <!-- m/s -->
  <arg name="sample_count"           default="5000"/>
  <arg name="sample_variance"        default="2.0"/>
  <arg name="margin"                 default="0.025"/> <!-- [0 1] -->
  <arg name="confidence"             default="0.70"/> <!-- (0.5 1) -->
  <arg name="collision_distance"     default="4.0"/>  <!-- m -->
  <arg name="heading_tol"            default="3.5"/> <!-- agents don't turn before moving -->

  <!-- patrol demo params -->
  <param name="/task_agent_count"    value="3"/> <!-- must match number of agents spawned! -->
  <param name="/network_agent_count" value="1"/> <!-- must match number of agents spawned! -->
  <param name="/patrol_radius"       value="20.0"/>
  <param name="/desired_altitude"    value="2.0"/>

  <!-- channel rate model params -->
  <param name="/N0" value="-70.0"/> <!-- -85.0  receiver noise (dBm) -->
  <param name="/n"  value="2.52"/>  <!--   2.52 decay exponent -->
  <param name="/L0" value="-48.0"/> <!-- -53.0  transmit power (dBm) -->
  <param name="/a"  value="0.2"/>   <!--   0.2  variance sigmoid param 1 -->
  <param name="/b"  value="0.6"/>   <!--   0.6  variance sigmoid param 2 -->

  <!-- gazebo and rviz -->
  <include file="$(find intel_aero_gazebo)/launch/simulation.launch">
    <arg name="gazebo_gui"       value="$(arg gazebo_gui)"/>
    <arg name="world"            value="worlds/empty.world"/>
    <arg name="rviz"             value="$(arg rviz)"/>
    <arg name="rviz_config_file" value="$(find intel_aero_demos)/rviz/patrol.rviz"/>
  </include>

  <!-- load saved map -->
  <node pkg="map_server"
        type="map_server"
        name="static_map_node"
        args="$(find intel_aero_gazebo)/maps/empty.yaml">
    <remap from="map"      to="/projected_map"/>
    <param name="frame_id" value="world"/>
  </node>

  <!-- network topology visualization -->
  <node pkg="network_status"
        type="routing_channel_visualization_node"
        name="routing_channel_visualization_node"
        output="screen">
    <param name="world_frame" value="world"/>
  </node>

  <!-- network planner node -->
  <node pkg="network_planner"
        type="network_planner_patrol_node"
        name="network_planner_patrol_node"
        output="screen">
    <param name="sample_count"          value="$(arg sample_count)"/>
    <param name="sample_variance"       value="$(arg sample_variance)"/>
    <param name="max_velocity"          value="$(arg task_agent_velocity)"/>
    <param name="margin"                value="$(arg margin)"/>
    <param name="confidence"            value="$(arg confidence)"/>
    <param name="collision_distance"    value="$(arg collision_distance)"/>
    <remap from="costmap"               to="/projected_map"/>
  </node>

  <!-- load saved octomap
  <node pkg="octomap_server"
        type="octomap_server_node"
        name="static_map_node"
        args="$(find intel_aero_gazebo)/maps/spawc_no_ground.bt"
        output="screen">
    <remap from="projected_map" to="/projected_map"/>
    <param name="frame_id" value="world"/>
  </node>
 -->

  <!-- task (patrol) agents -->

  <group>
    <arg name="id" value="1"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id"             value="$(arg id)"/>
      <arg name="x"              value="20.0"/>
      <arg name="y"              value="0"/>
      <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
      <arg name="heading_tol"    value="$(arg heading_tol)"/>
    </include>
  </group>

  <group>
    <arg name="id" value="2"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id"             value="$(arg id)"/>
      <arg name="x"              value="-10"/>
      <arg name="y"              value="17.32"/>
      <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
      <arg name="heading_tol"    value="$(arg heading_tol)"/>
    </include>
  </group>

  <group>
    <arg name="id" value="3"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id"             value="$(arg id)"/>
      <arg name="x"              value="-10.00"/>
      <arg name="y"              value="-17.32"/>
      <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
      <arg name="heading_tol"    value="$(arg heading_tol)"/>
    </include>
  </group>

  <!-- network agents -->

  <group>
    <arg name="id" value="4"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id"             value="$(arg id)"/>
      <arg name="x"              value="5.0"/>
      <arg name="y"              value="5.0"/>
      <arg name="linear_vel_des" value="$(arg network_agent_velocity)"/>
      <arg name="heading_tol"    value="$(arg heading_tol)"/>
    </include>
  </group>

  <!--
  <group>
    <arg name="id" value="5"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id"             value="$(arg id)"/>
      <arg name="x"              value="-10.0"/>
      <arg name="y"              value="0.0"/>
    </include>
  </group>

  <group>
    <arg name="id" value="6"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id"             value="$(arg id)"/>
      <arg name="x"              value="1.0"/>
      <arg name="y"              value="-5.0"/>
    </include>
  </group>
  -->

</launch>
