<launch>

  <!-- simulation args -->
  <arg name="launch_unity"  default="true"/>
  <arg name="rviz"          default="true"/>
  <arg name="rviz_config"   default="$(find intel_aero_demos)/rviz/lejeune_patrol.rviz"/>
  <arg name="network_viz"   default="true"/>
  <arg name="sim_yaml_file" default="$(find lejeune_emout)/config/lejeune_emout.yaml"/>

  <!-- patrol demo args -->
  <arg name="task_agent_velocity"    default="1.0"/>  <!-- m/s -->
  <arg name="network_agent_velocity" default="2.0"/>  <!-- m/s -->
  <arg name="collision_distance"     default="4.0"/>  <!-- m -->
  <arg name="heading_tol"            default="3.5"/>  <!-- > pi : agents don't turn before moving -->
  <arg name="minimum_update_rate"    default="10"/>    <!-- Hz -->
  <arg name="patrol_radius"          default="20.0"/> <!-- m -->
  <arg name="planner_type"           default="moving"/> <!-- fixed, moving -->
  <arg name="print_routes"           default="false"/>
  <arg name="step_size"              default="0.5"/>

  <!-- quadrotor args -->
  <arg name="robot_description" default="$(find arl_unity_ros_abstract)/config/quadrotor.yaml"/>
  <arg name="ekf" default="false"/>

  <rosparam command="load" file="$(find intel_aero_demos)/config/lejeune_ellipse.yaml"/>
  <param name="/patrol_radius" value="$(arg patrol_radius)"/>

  <!-- arl unity simulator -->
  <include file="$(find arl_unity_ros)/launch/simulator.launch">
    <arg name="launch_unity" value="$(arg launch_unity)"/>
    <arg name="param_file" value="$(arg sim_yaml_file)"/>
  </include>

  <!-- rviz -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>

  <!-- network topology visualization -->
  <node pkg="network_status"
        type="routing_visualization_node"
        name="routing_visualization_node"
        output="screen">
    <param name="world_frame" value="world"/>
    <param name="pose_topic"  value="/unity_command/aero#/TrueState/pose"/>
  </node>

  <!-- network planner -->
  <node pkg="intel_aero_demos"
        type="network_planner_node"
        name="connectivity_network_planner"
        output="screen">
    <param name="collision_distance"  value="$(arg collision_distance)"/>
    <param name="minimum_update_rate" value="$(arg minimum_update_rate)"/>
    <param name="pose_topic"          value="/unity_command/aero#/TrueState/pose"/>
    <param name="nav_nodelet"         value="/aero#/vel_nav_nodelet"/>
    <param name="world_frame"         value="world"/>
    <param name="planner_type"        value="$(arg planner_type)"/>
    <param name="print_routes"        value="$(arg print_routes)"/>
    <param name="step_size"           value="$(arg step_size)"/>
  </node>

  <!-- task (patrol) agents -->

  <include file="$(find intel_aero_gazebo)/launch/intel_aero_unity.launch">
    <arg name="name"           value="aero1"/>
    <arg name="x"              value="-46.0"/>
    <arg name="y"              value="-110.0"/>
    <arg name="z"              value="15.0"/>
    <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
    <arg name="heading_tol"    value="$(arg heading_tol)"/>
  </include>

  <include file="$(find intel_aero_gazebo)/launch/intel_aero_unity.launch">
    <arg name="name"           value="aero2"/>
    <arg name="x"              value="-67.0"/>
    <arg name="y"              value="-94.84"/>
    <arg name="z"              value="15.0"/>
    <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
    <arg name="heading_tol"    value="$(arg heading_tol)"/>
  </include>

  <include file="$(find intel_aero_gazebo)/launch/intel_aero_unity.launch">
    <arg name="name"           value="aero3"/>
    <arg name="x"              value="-67.0"/>
    <arg name="y"              value="-125.16"/>
    <arg name="z"              value="15.0"/>
    <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
    <arg name="heading_tol"    value="$(arg heading_tol)"/>
  </include>

  <!-- network agents -->

  <include file="$(find intel_aero_gazebo)/launch/intel_aero_unity.launch">
    <arg name="name"           value="aero4"/>
    <arg name="x"              value="-52.125"/>
    <arg name="y"              value="-110"/>
    <arg name="z"              value="15.0"/>
    <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
    <arg name="heading_tol"    value="$(arg heading_tol)"/>
  </include>

  <include file="$(find intel_aero_gazebo)/launch/intel_aero_unity.launch">
    <arg name="name"           value="aero5"/>
    <arg name="x"              value="-63.94"/>
    <arg name="y"              value="-103.18"/>
    <arg name="z"              value="15.0"/>
    <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
    <arg name="heading_tol"    value="$(arg heading_tol)"/>
  </include>

  <include file="$(find intel_aero_gazebo)/launch/intel_aero_unity.launch">
    <arg name="name"           value="aero6"/>
    <arg name="x"              value="-63.94"/>
    <arg name="y"              value="-116.82"/>
    <arg name="z"              value="15.0"/>
    <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
    <arg name="heading_tol"    value="$(arg heading_tol)"/>
  </include>

  <include file="$(find intel_aero_gazebo)/launch/intel_aero_unity.launch">
    <arg name="name"           value="aero7"/>
    <arg name="x"              value="0.0"/>
    <arg name="y"              value="0.0"/>
    <arg name="z"              value="5.0"/>
    <arg name="linear_vel_des" value="$(arg task_agent_velocity)"/>
    <arg name="heading_tol"    value="$(arg heading_tol)"/>
  </include>

</launch>
