<launch>

  <!-- px4 or no px4 -->
  <arg name="spawn_only"    default="true"/>

  <!-- simulation args -->
  <arg name="gazebo_gui"    default="false"/>
  <arg name="rviz"          default="true"/>

  <!-- robot args -->
  <arg name="static_map"         default="false"/>
  <arg name="static_map_file"    if="$(arg static_map)"     default="$(find intel_aero_gazebo)/maps/terrain_no_ground.bt"/>
  <arg name="static_map_topic"   if="$(arg static_map)"     value="/projected_map"/>
  <arg name="static_map_topic"   unless="$(arg static_map)" value="projected_map"/>
  <arg name="world_frame"        default="world"/>
  <arg name="robot_radius"       default="1.0"/>
  <arg name="inflation_radius"   default="1.0"/>
  <arg name="octomap_resolution" default="0.5"/>

  <!-- gazebo and rviz -->
  <include file="$(find intel_aero_gazebo)/launch/simulation.launch">
    <arg name="gazebo_gui"       value="$(arg gazebo_gui)"/>
    <arg name="world"            value="worlds/empty.world"/>
    <arg name="rviz"             value="$(arg rviz)"/>
    <arg name="rviz_config_file" value="$(find intel_aero_demos)/rviz/swarm.rviz"/>
  </include>

  <!-- if enabled, load saved octomap -->
  <node if="$(arg static_map)"
        pkg="octomap_server"
        type="octomap_server_node"
        name="static_map_node"
        args="$(arg static_map_file)">
    <remap from="projected_map" to="$(arg static_map_topic)"/>
    <param name="frame_id" value="$(arg world_frame)"/>
  </node>

  <!-- quads -->

  <arg name="number_of_agents"   value="32"/>
  <arg name="radius"             value="8"/>
  <param name="number_of_agents" value="$(arg number_of_agents)"/>

  <group>
    <arg name="id" value="1"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="2"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="3"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="4"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="5"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="6"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="7"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="8"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="9"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="10"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="11"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="12"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="13"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="14"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="15"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="16"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="17"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="18"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="19"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="20"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="21"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="22"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="23"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="24"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="25"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="26"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="27"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="28"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="29"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="30"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="31"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

  <group>
    <arg name="id" value="32"/>
    <include file="$(find intel_aero_gazebo)/launch/intel_aero_spawn_only.launch">
      <arg name="id" value="$(arg id)"/>
      <arg name="x"  value="$(eval arg('radius')*cos((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
      <arg name="y"  value="$(eval arg('radius')*sin((arg('id')-1)*2.0*3.141592/arg('number_of_agents')))"/>
    </include>
  </group>

</launch>
